form {
    background-color:rgba(253, 253, 253, 0.32);
    border-radius: 5px;
    padding: 15px;
}

.title {
    background-color: rgb(29, 35, 41);
    margin-left: -30px;
    margin-top: -30px;
    width: fit-content;
    border-radius: 7px;
    padding: 10px;
    color: white;
  }
  
input[type='text'] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    margin-top: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 


.add-button {
    background: rgb(6, 24, 33);
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius:20%;
  }
  
.add-button:hover {
    color: rgb(6, 24, 33);
    background-color: #fff;
}
  